{% extends 'base.html.twig' %}

{% block title %}Hello MdpOublieController!{% endblock %}

{% block body %}

<div class="container mt-4">
    {{ form_start(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
